<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <record id="service_packages_action" model="ir.actions.act_window">
            <field name="name">Service Packages</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">product.template</field>
            <field name="view_mode">kanban,tree,form,activity</field>
            <field name="view_type">form</field>
            <field name="view_id" ref="product.product_template_kanban_view"/>
            <field name="search_view_id" ref="product.product_template_search_view"/>
            <field name="domain">[('is_car_service', '=', True)]</field>
            <field name="context">{
                "sale_multi_pricelist_product_template": 1,
                "default_is_car_service": 1,
                "default_type": 'service'
            }</field>
            <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">
                    Create a new product
                </p><p>
                    You must define a product for everything you purchase,
                    whether it's a physical product, a consumable or services.
                </p>
            </field>
        </record>

        <menuitem id="menu_top_car_service"
            name="Car Services"
            web_icon="KI_CAR_SERVICES,static/description/icon.png"
            sequence="10"/>

        <menuitem id="menu_car_service_documents"
            parent="menu_top_car_service"
            name="Documents"
            sequence="1"/>

        <menuitem id="menu_car_service_master_data"
            parent="menu_top_car_service"
            name="Master Data"
            sequence="2"/>

        <menuitem id="menu_car_service_reporting"
            parent="menu_top_car_service"
            name="Reporting"
            sequence="3"/>

        <menuitem id="menu_car_service_config"
            parent="menu_top_car_service"
            name="Configurations"
            sequence="4"/>

        <menuitem id="menu_product_services"
            action="service_packages_action"
            parent="menu_car_service_master_data"
            name="Service Packages"
            sequence="1"/>

        <menuitem id="menu_service_vehicles"
            action="fleet.fleet_vehicle_model_action"
            parent="menu_car_service_master_data"
            name="Vehicles"
            sequence="2"/>

        <menuitem id="menu_service_slots"
            action="ki_car_services.action_service_time_slot"
            parent="menu_car_service_config"
            name="Slots"
            sequence="1"/>

        <menuitem id="menu_car_service_types"
            action="fleet.fleet_vehicle_service_types_action"
            parent="menu_car_service_config"
            sequence="2"/>

        <menuitem id="menu_service_orders"
            name="Service Orders"
            action="action_service_orders"
            parent="menu_car_service_documents"
            sequence="1" groups="sales_team.group_sale_salesman"/>

        <menuitem
            name="Service Tasks"
            id="menu_service_tasks"
            parent="menu_car_service_documents"
            action="action_view_service_tasks"
            sequence="2" groups="base.group_no_one,project.group_project_user"/>

    </data>
</odoo>